
@font-face {
  font-family: SquarePeg;
  src: url(/fonts/square_peg/SquarePeg-Regular.ttf);
}

@font-face {
  font-family: Satisfy;
  src: url(/fonts/Satisfy-Regular.ttf);
}

@font-face {
  font-family: PatuaOne;
  src: url(/fonts/PatuaOne-Regular.ttf)
}